.Media-shelf {
    padding-top: 1.2rem;
    height: 112rem;
    position: relative;
    top: -17.2rem;
    overflow: hidden;

    .Media-row {
        display: inline-block;
        position: relative;
        top: 1rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
}
