.header {
    background-color: transparent;
    width: 100%;
    height: 5rem;
    padding: 0 2.4rem;
    display: flex !important;
    z-index: 10;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0)
    );

    .nav {
        align-items: center;

        .nav-item:first-child {
            margin-right: 1.5rem;
        }

        .nav-item {
            transition: color 0.3s;
            .nav-link {
                font-size: 1rem;
                padding-left: 0.7rem;
                padding-right: 0.7rem;
                color: #fff;
                &:hover {
                    color: #e5e5e5;
                }
            }
        }

        img {
            height: 1.8rem;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
